<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Demo ReactJS</title>
    <!--libs CDN of reactjs-->
    <link rel="stylesheet" href="css/style.css">
    <script crossorigin src="lib/react.development.js"></script>
    <script crossorigin src="lib/react-dom.development.js"></script>
    <script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>
    <!--use babel-core lib to render react to HTML-->
    <script src="lib/browser.min.js"></script>

    <style>
        .bg-yellow{
            background-color: yellow;
        }
        .bg-blue{
            background-color: deepskyblue;
        }
    </style>
</head>
<body>
    <div id="root"></div>

    <script type="text/babel" src="js/mybabel.js"></script>
</body>
</html>